body {
    background-color: #888888;
    font-size: 2.5vh;
    text-align: center;
    font-family: Georgia;
}
li {
    font-family: monospace;
    text-align: left;
    margin-left: 5vw;
}
button {
    color: #FFFFFF;
    padding: 0.75vh;
    font-size: 2.5vh;
    background-color: #222222;
    border: 0.225vh solid #000000;
    font-family: Georgia;
}
hr {
    border: 0.45vh solid #000000;
    background-color: #000000;
    border-radius: 20vh;
}
hp {
    opacity: 0.5;
}